<div class="container">
    <button (click)="setContent(blogContent)" class="btn btn-dark">Edit</button>
    <button (click)="setContent(blogContent)" class="btn btn-success">Save</button>
    <div class="sperate"></div>
    <div class="img">
        <img src="../../assets/bg.png" class="img-fluid" [alt]="altText">
        <div class="input-group">
            <input type="text"  placeholder="Enter image's URL" name="" id="">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <input type="text" class="form-control" placeholder="Enter image's alt text" name="" id="">
        </div>
    </div>
    <div class="content">
        <p *ngIf="!edit" [innerHTML]="content" 
        #blogContent></p>
        <div class="input-group">
            <textarea 
            class="form-control" 
            [innerText]="content" 
            *ngIf="edit" 
            (input)="changeValue($event)"></textarea>
        </div>
    </div>
</div>